{% extends 'base.html.twig' %}

{% block title %} Rubrique commentaires {% endblock %}

{% block body %}

<h2> Vos témoignages </h2>
<center><p> Votre satisfaction, ma priorité ! Merci pour vos commentaires !<p></center>
    <div class="alert-success">
        {% for message in app.flashes('success') %}
            <h2> {{ message }} </h2>
        {% endfor %}
    </div>

    <div class="temoignage">
        {{ form_start(form, {'attr': {'class': 'form-commentaire'}}) }}
            <div class="champ">
                <div class="div1">
                    {{ form_row(form.nom, {'attr': {'class': 'textinput', 'placeholder' :'Nom et prénom'}}) }}
                </div>
            </div>
            <span class="note"> Note : </span><br>
                <div class="galaxie">
                    <div class="boite-etoiles">
                        {% for i in 1..5 %}
                            <input type="radio" id="note{{ i }}" name="{{ form.note.vars.full_name }}" value="{{ i }}"
                            {% if form.note.vars.value == i %}checked{% endif %}/>
                            <label for="note{{ i }}" class="etoile"> &#9733; </label>
                        {% endfor %}
                    </div>
                </div>
            {{ form_widget(form.note, {'attr': {'style': 'display: none'}}) }}
            {{ form_row(form.commentaire, {'attr': {'class': 'textarea', 'placeholder' :'Merci pour votre commentaire'}}) }}
            
            <button class="boutonenvoyer" type="submit">Envoyer</button>
        {{ form_end(form) }}
    </div>

   {# {% for Commentaire in Commentaire %}
        {% for i in 1..Commentaire.note %}
            {{Commentaire.getNom()}} - {{Commentare.getPublication|}}
            {{Commentaire.getCommentaire()}}
        {% endfor %}
    {% endfor %}#}

{% endblock %}
